<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="../public/styles/portfolio.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css" crossorigin="anonymous">
  <title>My Projects</title>
  
</head>

<body>
  <nav >
    <img src="../public/styles/images/logo3-removebg-preview.png" alt="theLogo" class="logo" height="120px" width="150px">
    <ul>
        <li><a href="../index.html" >HOME</a></li>
        <li><a href="about.html">ABOUT</a></li>
        <li><a href="portfolio.html">PORTFOLIO</a></li>
        <li><a href="contact.html">CONTACT ME</a></li>
    </ul> 
    </nav>
    <h1 id="portfolioTitle">My Projects</h1>
    <div class="cards">
  <div class="card">
    <img src="../public/styles/images/backkk.avif" alt="image">
    <h1>Heading</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto repellat, officiis hic ratione obcaecati cumque</p>
  </div>
  <div class="card">
    <img src="../public/styles/images/backkk.avif" alt="image">
    <h1>Heading</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto repellat, officiis hic ratione obcaecati cumque</p>
  </div>
  <div class="card">
    <img src="../public/styles/images/backkk.avif" alt="image">
    <h1>Heading</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto repellat, officiis hic ratione obcaecati cumque</p>
  </div>
  </div>
  <div class="secondRowCards">
    <div class="card">
      <img src="../public/styles/images/backkk.avif" alt="image">
      <h1>Heading</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto repellat, officiis hic ratione obcaecati cumque</p>
    </div>
    <div class="card">
      <img src="../public/styles/images/backkk.avif" alt="image">
      <h1>Heading</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto repellat, officiis hic ratione obcaecati cumque</p>
    </div>
    <div class="card">
      <img src="../public/styles/images/backkk.avif" alt="image">
      <h1>Heading</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto repellat, officiis hic ratione obcaecati cumque</p>
    </div>
  </div>
<div class="thirdRowCards">
  <div class="card">
    <img src="../public/styles/images/backkk.avif" alt="image">
    <h1>Heading</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto repellat, officiis hic ratione obcaecati cumque</p>
  </div>
  <div class="card">
    <img src="../public/styles/images/backkk.avif" alt="image">
    <h1>Heading</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto repellat, officiis hic ratione obcaecati cumque</p>
  </div>
  <div class="card">
    <img src="../public/styles/images/backkk.avif" alt="image">
    <h1>Heading</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto repellat, officiis hic ratione obcaecati cumque</p>
  </div>
</div>
<button id="myButton">Go Up</button>
<script>
   
   var button = document.getElementById("myButton");


button.addEventListener("click", scrollUp);

function scrollUp() {
   
    window.scrollBy(0, -1000);
}
</script>
</body>
</html>