@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
   
}
nav {
    display: flex;
    width: 84%;
    justify-content: space-between;
    margin: auto;
    padding: 2px 2;
    align-items: center;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a {
    text-decoration: none;
    font-weight: bold;
    color: black;
}

nav ul li a:hover {
    color:orange;
}
.about {
    height: 100vh;
    width: 100%;
    background: #eff4ef;
    
}
.content {
    text-align: center;
}
.content h1 { 
    
    margin-bottom: 10px;

}
.content p { 
    margin: 10px;
    font-size: large;
    margin-right: 100px;
    margin-left: 100px;
}
#img1 { 
    border-radius: 50%;
    height: 25%;
    width: 15%;

}
#myButton { 
    background-color: orange;
    padding: 10px 20px;
    color: black;
    text-decoration: none;
    border: none;
    border-radius: 25px;
    font-weight: bolder;
    display:block ;
    margin: 20px auto;
    text-align: center;
}
#skills { 
    color: #666;
    height: 100vh;
    width: 100%;
    background: #eff4ef;
}


   

table {
    border-collapse: collapse;
    width: 80%;
    margin: auto;
    
    
  }
  
  td, th {
    text-align: left;
    padding: 10px;
    font-weight: bolder;
  }
  th {
    color: orange;
    font-size: 30px;
    padding-top: 40px;
  }
  
  
 

   progress::-webkit-progress-value {
    background-color: rgb(55, 54, 54);
  }
  
#statistics { 
    color: orange;
    height: 55%;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('images/workplace.avif');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
   
}
.statsContent {
        
    
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-evenly;
        align-items: center;
        align-content: stretch;
    
    
}
.stats { 
    margin-top: 150px;
    font-size: 20px;
}
#whatIdo { 
    width: 100%;
    height: 100vh;
    margin-bottom:200 px;
    margin-top: 50px;
    background: #eff4ef;
}
.whatIdoTable tr { 
   width: 40%;
   height: 40%;
   text-align: center;

  }
 .whatIdoTable td {
    border: 1px solid orange;
    width: 33%;
    height: 250px;
    margin-top: 50px;
    vertical-align: bottom;
 }
 #whatIdoTitle { 
    text-align: center;
    padding: 10px;
    color: orange;
    margin-bottom: 10px;

 }
 .whatIdoParagraph {
    font-weight: 100;
 }
 .fa-sharp  {
    text-align: center;
    font-size: 48px;
    color: orange;
    margin-bottom: 30px;
 }
 .tdTitle { 
    font-weight: 700;
    font-size: large;
    color: gray;
    margin-bottom: 25px;
 }
