@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    background:#eff4ef;
   
}
#quoteContact{ 
    color: orange;
    height: 55%;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('images/backkk.avif');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
   
}
nav {
    display: flex;
    width: 84%;
    justify-content: space-between;
    margin: auto;
    padding: 2px 2;
    align-items: center;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a {
    text-decoration: none;
    font-weight: bold;
    color: black;
}

nav ul li a:hover {
    color:orange;
}

.feedbacks {
    margin: 20px;
    margin-left: 25%;
    margin-top: 170px;
    text-align: center;
    border: 3px orange solid;
    border-radius: 25px;
    width: 50%;
    padding: 20px;
    color: #666;
    
}
#feedbackForm  {
    
    height: 150px;
    text-align: center;
}

#name { 
width: 400px;
margin: 20px;
height: 50px;
border-radius: 10px;
border: 3px solid #666;
}
#email {
width: 400px;
margin: 20px;
height: 50px;
border-radius: 10px;
border: 3px solid #666;
}
#message {
width: 800px;
margin:20px;
height: 100px;
margin-bottom: 20px;
border-radius: 10px;
border: 3px solid #666;
}
#button { 
    background-color: orange;
    padding: 20px;
    
    color: #666;
    border: none;
    font-weight: bolder;
    border-radius: 25px;
}
h1 { 
    text-align: center;
    color: orange;
}
    
    

