@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600;700&display=swap'); 
*{ 
    text-align: center;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    background: #eff4ef;
}

.adminPanelhref { 
    text-align: center;
   
}

.form-control {
    margin: 1rem 0;
   
  }
 
.signInTitle { 
    text-align: center;
    color: orange;
}
