@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600;700&display=swap'); 
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    background: #eff4ef;
}

.hero {
    position: relative;
    width: 100%;
    height: 100vh;
    background: #eff4ef;
    

}
nav {
    display: flex;
    width: 84%;
    justify-content: space-between;
    margin: auto;
    padding: 2px 2;
    align-items: center;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a {
    text-decoration: none;
    font-weight: bold;
    color: black;
}

nav ul li a:hover {
    color:orange;
}
.cards {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: stretch;
	align-content: stretch;

}
.secondRowCards { 
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: stretch;
	align-content: stretch;
}
.thirdRowCards { 
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: stretch;
	align-content: stretch;
}
.card {
    width: 300px;
    height: 380px;
    padding: 20px;
    margin: 20px;
    
        /* Add shadows to create the "card" effect */
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
     
}
      /* On mouse-over, add a deeper shadow */
      .card:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5);
      }
      
      /* Add some padding inside the card container */
      .container {
        padding: 2px 16px;
      }
   

  .card img {
    width: 100%;
    height: auto;
  }
  
  .card h1 {
    font-size: 24px;
    color: orange;
    margin-top: 0;
  }
  
  .card p {
    font-size: 18px;
    color: #666;
    line-height: 1.5;
    margin-bottom: 0;
  }
  #portfolioTitle { 
    text-align: center;
    color: orange;
  }
  #myButton { 
    border: none;
    text-align: center;
    margin: 20px;
    color: #666;
    font-weight: bolder;
    padding: 20px;
     background-color: orange;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    float: right;
  }

  
  
  
  
  